# Ignore specific big files
SEMESTER 2/VIDEO TUGA AKHIR KELOMPOK 6.mp4
SEMESTER 4/Datmin/PraktikumImbalanced/fraudTrain.csv
SEMESTER 4/Datmin/PraktikumImbalanced/fraudTest.csv
SEMESTER 4/Datmin/PraktikumImbalanced/balanced_fraud_data.csv
SEMESTER 4/ADS/gadm41_IDN_shp/gadm41_IDN_4.shp
